[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
streamlit = "==1.28.0"
pillow = "==10.2.0"
bytesbufio = "==1.0.3"

[dev-packages]

[requires]
python_version = "3.10"
